.mainSize {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 130px);
}
.title {
  flex: 1;
  border: none;
  outline: none;
  font-size: 38px;
}
@media (prefers-color-scheme: dark) {
  .title {
    background: var(--background);
  }
}
.title:hover {
  border: none;
  outline: none;
}

.title:focus {
  border: none;
  outline: none;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px 0;
}
.tag {
  background-color: #e0e0e0;
  color: black;
  font-size: 14px;
  padding: 6px 14px;
  border-radius: 9999px;
  cursor: pointer;
  user-select: none;
  transition: background 0.2s;
}
@media (prefers-color-scheme: dark) {
  .tag {
    background-color: #f6f6f6;
  }
}
.tag:hover {
  background-color: #e0e0e0;
}
.input {
  border: none;
  outline: none;
  font-size: 14px;
  color: #444;
  min-width: 120px;
  padding: 8px 0;
  background: none;
  color: var(--foreground);
}

.urlInput {
  flex: 1;
  border: none;
  border-bottom: 1px solid #aaa;
  outline: none;
}
.urlButton {
  background: #6b7280;
  color: white;
  border: none;
  padding: 0.3rem 0.8rem;
  border-radius: 999px;
  font-size: 14px;
}
.mainText {
  padding: 1rem;
  font-size: 16px;
  resize: none;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 0 2px rgba(209, 213, 219, 0.2);
}

.mainText:hover {
  /* border: 1px solid #d1d5db;  */
  box-shadow: 0 0 0 2px rgba(209, 213, 219, 0.35); /* 약한 그림자 */
  border-radius: 4px;
}
.textareaMirror {
  position: absolute;
  visibility: hidden;
  white-space: pre-wrap;
  visibility: hidden;
}

.toolbar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.toolbarButton {
  background: none;
  border: none;
  color: #6b7280; /* 고급 회색 */
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.03em;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  transition: color 0.2s ease;
}

.toolbarButton:hover {
  color: #374151; /* hover 시 진해짐 */
}

.toolbarDivider {
  width: 1px;
  height: 1.2rem;
  background-color: #d1d5db; /* 연회색 */
  margin: 0 0.5rem;
}

.submitButton {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  color: var(--background);
  background-color: var(--foreground);
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease, transform 0.1s ease;
  z-index: 1000; /* 다른 요소 위에 오도록 */
}

.submitButton:hover {
  background-color: #222;
}

.submitButton:active {
  transform: scale(0.98);
}
