.container {
  /* display: flex; */
}

.content {
  position: relative;
  /* border: black solid 1px; */
  margin: 50px 200px;
}
.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -200px;
  max-width: 200px;
}
@media (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
    margin: 0 0;
  }
  .menu {
    position: static;
  }
}
