.header {
  display: flex;
  flex-direction: column;
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
