.header {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.profileWrapper {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 6px;
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.arrow {
  margin-left: 6px;
  font-size: 12px;
  vertical-align: middle;
}

.dropdownMenu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 140px;
  z-index: 10;
  padding: 10px 0;
}

.dropdownMenu div {
  padding: 8px 16px;
  cursor: pointer;
}

.dropdownMenu div:hover {
  background-color: #f2f2f2;
}

.test {
  position: fixed;
  bottom: 30;
  right: 30;
}
