.cardList {
  display: grid;
  gap: 32px;
  align-items: stretch;
  grid-auto-rows: 1fr; /* 모든 카드 높이를 균등하게 */
}
@media (max-width: 768px) {
  .cardList {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 3열 */
  }
}
@media (min-width: 769px) and (max-width: 1056px) {
  .cardList {
    grid-template-columns: repeat(2, 1fr); /* 3열 */
  }
}
@media (min-width: 1057px) and (max-width: 1440px) {
  .cardList {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* 3열 */
  }
}
@media (min-width: 1441px) and (max-width: 1919px) {
  .cardList {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* 3열 */
  }
}
/* ≥1920: 5개 */
@media (min-width: 1920px) {
  .cardList {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* 3열 */
  }
}
