.postContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.postInfo {
  display: flex;
  flex-direction: column;
  /* gap: 4px; */
}
.modalInside {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: fit-content;
  min-width: 300px;
  max-height: 80vh;
  overflow-y: auto;
}
@media (prefers-color-scheme: dark) {
  .modalInside {
    background-color: var(--background);
  }
}
.postStatusRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

/* .removeButton {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
} */
